<!-- Content: Notes -->
<div id="notes" class="region region-notes">
  <table id="notes-list" class="table table-bordered table-hover">
    <thead>
      <tr class="notes-new">
        <th class="note-name">
          <input id="note-new-input"
                 placeholder="Write a new note." autofocus>
        </th>
        <th class="note-action">
          <button id="note-create" class="btn pull-right">
            <i class="icon-plus"></i>
          </button>
        </th>
      </tr>
    </thead>
    {{collection tag="tbody" item-view="notes/item"}}
  </table>
</div>
