{{! This template is used by the Application object created
    created in init.js, calling Application.setView() will
    place a view where layout-element is called below. }}

<div id="nav" class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Notes</a>

    <!-- Nav's for single note view -->
    <ul id="note-nav" class="nav region region-note" style="display: none;">
      <li class="note-view active">
        <a href="#">
          <i class="icon-file"></i>
          <span class="hidden-phone-portrait">View</span>
        </a>
      </li>
      <li class="note-edit">
        <a href="#">
          <i class="icon-pencil"></i>
          <span class="hidden-phone-portrait">Edit</span>
        </a>
      </li>
      <li class="note-delete">
        <a href="#">
          <i class="icon-trash"></i>
          <span class="hidden-phone-portrait">Delete</span>
        </a>
      </li>
    </ul>

    <!-- Nav's for notes filter view -->
    <form class="navbar-search pull-right region region-notes"
          style="display: none;">
      <input type="text" class="search-query"
             placeholder="Filter">
    </form>
  </div>
</div>

<!-- Content -->
<div class="container-fluid">
  {{layout-element}}
</div>



